
.pfeil{
    width: auto;
    height: 45px;
    margin-top: 1%;
  }
li{ 
    list-style-type:none;
    padding: 3px;
    float:left;
}
.plakatGross{
    height: 700px;
    width:auto;
    padding-right:20%;
}
.PlakatGross2{
    height: 700px;
    width:auto;
    padding-right:10%;
}
a{
    text-decoration: none;
    color: black;
    font-size: 1.5em; 
    font-family: "Helvetica Neue", Helvetica, Arial;
    cursor: pointer;

}
/*Wenn über den Link gehoverd wird, soll das Wort sich verändern*/
a:hover{
    color:red;
}

nav {margin-left: 3.3%;
}
p{ font-size: 1.5em; 
    margin-left: 3.3%;
    font-family: "Helvetica Neue", Helvetica, Arial;
}
#ü-vodka{
    margin-top:10%;
 
}
#vodka-text{
    padding-top: 60%;
  margin-right:50%;
    font-size: 3em;

}
