/*Hintergrundbild soll gesetzt werden und kleiner gemacht werden*/
#copyright{
    font-size:0.4em;
    font-family: "Helvetica Neue", Helvetica, Arial;
    margin-top: 35%;
    float: right;
 
}
.größe{
    font-size: 0.5em;
}
body {
    background-image: url(Augen.mp4);
    background-size: 10%;
    
}
.pfeil{
    width: auto;
    height: 45px;
    margin-top: 1%;
  }
p{ font-size: 2.5em;
}

.ueberschrift {
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: 80%;
    cursor: pointer;
    text-decoration: none;
   
    
}
/*der Link soll den Unterstrich weg bekommen und die Farbe schwarz haben*/
a{
    text-decoration: none;
    color: black;
    
    
}
/*Wenn über den Link gehoverd wird, soll das Wort sich verändern*/
a:hover{
    color:red;
}


#foto{
    color:black;
    font-family: "Helvetica Neue", Helvetica, Arial;
    margin-left: 10%;
    margin-top: 9%;
}
#editorial{
    color:black;
    font-family: "Helvetica Neue", Helvetica, Arial;
    margin-left: 20%;
    margin-top:25%;
}

#illustration{
    color:black;
    font-family: "Helvetica Neue", Helvetica, Arial;
   margin-left: 30%;
   margin-top:12%;
}
#film{
    color:black;
    font-family: "Helvetica Neue", Helvetica, Arial;
   margin-left: 55%;
   margin-top: -5%;
}
#app{
    color:black;
    font-family: "Helvetica Neue", Helvetica, Arial;
   padding-left: 75%;
  margin-top: -17%;
}
#typografie{
    color:black;
    font-family: "Helvetica Neue", Helvetica, Arial;
    margin-left: 56%;
    margin-top: -30%;
}
#portfolio-ü{
    font-size: 85%;
}