
.pfeil{
    width: auto;
    height: 45px;
    margin-top: 1%;
  }

  .text{
   flex-direction: column;
   margin-right: 5%;
   margin-left: -5%;
  }
  .container{
    display: flex;
    flex-direction: right;
    margin-left: 20%;
    padding-top: 0.5%;
    gap: 10%;
    
    height: 500px;
    width:auto;
}

a{
    text-decoration: none;
    color: black;
    font-size: 1.5em; 
    font-family: "Helvetica Neue", Helvetica, Arial;
    cursor: pointer;

}
/*Wenn über den Link gehoverd wird, soll das Wort sich verändern*/
a:hover{
    color:red;
}

nav {margin-left: 3.3%;
}
p{ font-size: 1.5em; 
    margin-left: 3.3%;
    font-family: "Helvetica Neue", Helvetica, Arial;
}

#laerm{
    margin-top: 15%;
}